<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>js+css书架找书本动画特效 www.bootstrapmb.com</title>

    <link rel="stylesheet" href="dist/bookshelf.css" />
    <style>
        html, * {
            font-family: 'Inter';
            box-sizing: border-box;
        }

        body {
            background-color: #222;
            line-height: 1.6;
        }

        h1, h2 {
            color: #fff;
        }

        .lead {
            font-size: 1.5rem;
            font-weight: 300;
            color: #fff;
            margin: 3rem auto;
        }

        .container {
            margin: 150px auto;
            max-width: 960px;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="bookshelf">
            <!-- Add Books To The Bookshelf -->
            <div class="book">
                <span id="ezoic-pub-ad-placeholder-141" class="ezoic-adpicker-ad"></span>
                <div class="side spine">
                    <span class="spine-title"> Book Title </span>
                    <span class="spine-author"> PG </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> Book Title </span>
                    <span class="spine-author"> PG </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> Book Title </span>
                    <span class="spine-author"> PG </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> Book Title </span>
                    <span class="spine-author"> PG </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> Book Title </span>
                    <span class="spine-author"> PG </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> Book Title </span>
                    <span class="spine-author"> PG </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> Book Title </span>
                    <span class="spine-author"> PG </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> Book Title </span>
                    <span class="spine-author"> PG </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> Book Title </span>
                    <span class="spine-author"> PG </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> Book Title </span>
                    <span class="spine-author"> PG </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> Book Title </span>
                    <span class="spine-author"> PG </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <!-- Add More Books -->
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> CSS Script </span>
                    <span class="spine-author"> CS </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> CSS Script </span>
                    <span class="spine-author"> CS </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> CSS Script </span>
                    <span class="spine-author"> CS </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <div class="book">
                <div class="side spine">
                    <span class="spine-title"> CSS Script </span>
                    <span class="spine-author"> CS </span>
                </div>
                <div class="side top"></div>
                <div class="side cover"></div>
            </div>
            <!-- Thanks for watching -->
        </div>
    </div>


    <script src="dist/bookshelf.js"></script>
</body>
</html>
